* {
  margin: 0;
  padding: 0;
}
/* NAV BAR START--------------------------------> */
nav {
	background-color: white;
	display: flex;
	justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

nav ul {
  list-style-type: none;
}

nav li {
  text-decoration: none;
	display: inline;
	text-align: center;
	padding: 0 16px;
}

#header-logo {
	height: 7vh;
  width: 7vh;
  padding-left: 5vh;
}
/* NAV BAR END--------------------------------> */